page-cadastro {
    background-color: #070647;
}
ion-app .md {
    width: 50%;
    margin-left: 25%;
    
}
* {
    overflow-y: hidden;
}

.scroll-content {
   overflow-y: hidden;
}

::placeholder {
    color: #fff;

}
