.background{
    background: rgb(7,6,71);
    background: linear-gradient(0deg, rgba(7,6,71,1) 0%, rgba(27,176,207,1) 100%);
    width: 100%;
    height: 100%;
}
.title-home {
    margin: 0;
    width: 100%;
    background-color: #070740;
    h1 {
        text-align: center;
        color: #488aff;
    }
}
.boxes {
    
    margin-top: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.item-boxes {
    background-color: #070740;
    padding: 50px;
    display: flex;
    border-radius: 25px;
}

* {
 margin: 0;
 padding: 0;
}


